<?xml version="1.0"?>
<config>
	<builder>pattern.builder.IPhone</builder>
	<ssss>pattern.bridge.GACToyota</ssss>
	<taolu>pattern.bridge.taolu.SmartTalkingAdapter</taolu>
	<!-- 符号表实现类 SequentialSearchST BinarySearchST BST RedBlackBST ChainHashST ProbeHashST -->
	<sf1>algorithms.search.STImpl.SequentialSearchST</sf1>
	<sf2>algorithms.search.STImpl.BinarySearchST</sf2>
	<sf3>algorithms.search.STImpl.BST</sf3>
	<sf4>algorithms.search.STImpl.RedBlackBST</sf4>
	<sf5>algorithms.search.STImpl.ChainHashST</sf5>
  <sf6>algorithms.search.STImpl.ProbeHashST</sf6>
  <!-- 有序符号表实现类 BinarySearchST BST RedBlackBST -->
	<ssf1>algorithms.search.STImpl.BinarySearchST</ssf1>
	<ssf2>algorithms.search.STImpl.BST</ssf2>
	<ssf3>algorithms.search.STImpl.RedBlackBST</ssf3>

</config> 